*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
  font-size: 18px;;
}

.bg-img {
    background-image: url("./Assets/ba1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: right;
  }
.nav-link{
    font-size: 18px;
    color: #fff;
    color:rgb(35, 151, 60);
  }

.margin1{
    padding: 200px 160px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}
  
  
  .btn-outline {
    color: white;
    border: white 1px solid;
  }
  .btn-tickets{
    background-color: rgb(41,167,68);
  }
  
  .right {
    float: right;
    height: inherit;
  }
  
  .skill {
    font-size: 12px;
    font-weight: 700;
    padding: 1px 8px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
  }
  .skill:hover {
    color: black;
    cursor: none;
  }
  
  .javascript {
    background-color: yellow;
    color: black;
  }
  .javascript:hover {
    color: white;
  }
  
  .react {
    background-color: rgb(1, 204, 235);
  }
  .startup {
    background-color: rgba(255, 0, 0, 0.9);
  }
  
  .bussines {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .text-small {
    font-size: 14px;
  }
  
  .card-cont {
    padding: 0 10%;
  }
  
  .dotted-underline {
    text-decoration: underline dotted;
  }
  
  .btn-success{
    height: 50px;
    background-color: rgb(150, 201, 62);
  }
  .footer{
    margin-top: 1vh;
    align-items: center;
    padding: 2Vh 15vh;
    background-color: rgba(30,81,112,255);
  }
  
  .btn-footer{
    font-size: 16px;
    color: white;
    width: 140px;
    height: 80px;
    word-wrap: break-word;
  }