*{
  box-sizing: border-box;
  font-size: 18px;
}

.bg-img {
    background-image: url("./Assets/ba1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: right;
}
.nav-link{
    color: #fff;
    color:rgb(35, 151, 60);
}

.margin1{
    padding: 200px 160px;
}

.overlay {
    background-color: rgba(10, 9, 9, 0.5);
}
  
  
.btn-outline {
    color: white;
    border: white 1px solid;
}

.btn-tickets{
    background-color: rgb(35, 151, 60);
}

.Sk {
    font-size: 12px;
    font-weight: 700;
    padding: 1px 8px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
  .Sk:hover {
    color: black;
}
  
.javascript {
    background-color: yellow;
    color: black;
}
.javascript:hover {
    color: white;
}
  
.react {
    background-color: rgb(4, 214, 246);
}
.startup {
    background-color: rgba(255, 0, 0, 0.9);
}
  
  .bussiness {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .text-small {
    font-size: 14px;
  }
  
  .card-cont {
    padding: 1 10px;
  }
  
.dotted-underline {
    text-decoration: underline dotted;
}
  
.btn-success{
    height: 50px;
    background-color: rgb(35, 151, 60);
}

.footer{
    margin-top: 1vh;
    align-items: center;
    padding: 2Vh 15vh;
    background-color: rgba(30,81,112,255);
}
  
  .btn-footer{
    font-size: 16px;
    color: white;
    width: 140px;
    height: 80px;
    word-wrap: break-word;
  }